* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
}

/*HEADER START*/
.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6vh;
    padding: 1rem 36rem 1rem 36rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.headerbar__logo > img {
    width: 20rem;
}

.headerbar__nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: -3rem;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.headerbar li {
    list-style: none;
}

.headerbar a {
    text-decoration: none;
    display: block;
    padding-right: 3rem;
    color: black;
}

.headerbar a:hover {
    color: #6920DD;
}

.headerbar a:active {
    color: #6920DD;
}

.headerbar a:visited {
    color: rgb(71, 71, 71);
}
/*HEADER END*/