/*MEDIA QUERIES FOR XXS DEVICES (<320px)*/
@media screen and (max-width:320px) {

    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

}

/*MEDIA QUERIES FOR XS DEVICES (<576px)*/
@media screen and (max-width:576px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }

    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

}

/*MEDIA QUERIES FOR MD DEVICES (<768px)*/
@media screen and (max-width:768px) {

    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

}

/*MEDIA QUERIES FOR L DEVICES (<992px)*/
@media screen and (min-width:992px) {

    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

}