/*MEDIA QUERIES FOR XXL SCREENS*/
@media screen and (max-width: 1400px) {

}

/*MEDIA QUERIES FOR XL SCREENS*/
@media screen and (max-width: 1200px) {

}

/*MEDIA QUERIES FOR L SCREENS*/
@media screen and (max-width: 992px) {

    /*HEADER STYLES FOR L*/
    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

    /*HERO SECTION STYLES FOR XS*/ 
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile > img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }

    

    /*ABOUT SECTION STYLES FOR XS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    

    /*TESTIMONIAL SECTION STYLES FOR XS*/

    .testimonial-text {
        font-size: 1.3rem; 
    }

    .testimonial-card {
        margin-top: 3em;
    }

    .testimonial-card  img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR XS*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR XS*/

    .container-mobile--100 {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .social {
        margin: 0 auto;
    }
}

/*MEDIA QUERIES FOR M SCREENS*/
@media only screen and (max-width: 768px) {

    /*HEADER STYLES FOR XS*/
    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

    /*HERO SECTION STYLES FOR XS*/ 
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile > img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }

    

    /*ABOUT SECTION STYLES FOR XS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    

    /*TESTIMONIAL SECTION STYLES FOR XS*/

    .testimonial-text {
        font-size: 1.3rem; 
    }

    .testimonial-card {
        margin-top: 3em;
    }

    .testimonial-card  img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR XS*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR XS*/

    .container-mobile--100 {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .social {
        margin: 0 auto;
    }
}

/*MEDIA QUERIES FOR S SCREENS*/
@media only screen and (max-width: 576px) {

    /*HEADER STYLES FOR XS*/
    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }

    /*HERO SECTION STYLES FOR XS*/ 
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile > img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }

    

    /*ABOUT SECTION STYLES FOR XS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    

    /*TESTIMONIAL SECTION STYLES FOR XS*/

    .testimonial-text {
        font-size: 1.3rem; 
    }

    .testimonial-card {
        margin-top: 3em;
    }

    .testimonial-card  img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR XS*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR XS*/

    .container-mobile--100 {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .social {
        margin: 0 auto;
    }
}

/*MEDIA QUERIES FOR XS SCREENS*/
@media only screen and (max-width: 375px) {

    /*RESPONSIVE HEADER START*/
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .headerbar {
        padding: 1rem 1rem 1rem 1rem;
        display: block;
    }

    .headerbar__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .headerbar__mobile {
        width: 3.5rem;
        height: 2.5rem;
        align-self: center;
    }

    .headerbar__logo {
        width: 15rem;
        align-self: center;
    }

    .headerbar__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 45vw;
        height: 100vh;
        background: rgb(14, 110, 218);
        background: linear-gradient(330deg, rgba(14, 110, 218, 1) 0%, rgba(105, 32, 221, 1) 100%);
        transition: right 1s;
        transition-timing-function: ease-in-out;
    }

    .headerbar__nav ul {
        margin: 0;
        padding-top: 0;
        display: block;
        margin-right: -3rem;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    }

    .headerbar__nav a {
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .headerbar__nav a:active {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .headerbar__nav a:hover {
        color: white;
    }

    .headerbar__nav a:visited {
        color: rgba(255, 255, 255, 0.50);
    }

    .headerbar__mobile--close {
        width: 2rem;
        height: 2rem;
        position: relative;
        border: 1px solid white;
        border-radius: 100%;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0;
    }
/*RESPONSIVE HEADER END*/

    /*HERO SECTION STYLES FOR XS*/ 
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile > img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }

    

    /*ABOUT SECTION STYLES FOR XS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    

    /*TESTIMONIAL SECTION STYLES FOR XS*/

    .testimonial-text {
        font-size: 1.3rem; 
    }

    .testimonial-card {
        margin-top: 3em;
    }

    .testimonial-card  img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR XS*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR XS*/

    .container-mobile--100 {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .social {
        margin: 0 auto;
    }
    
}





