/*In this CSS file are all the styles for the website FABFOREVER.
The method used here is the top-down method which goes through the styles
from the parents to the children in this manner: 
[ROOT -> HTML -> BODY -> SECTION -> CONTAINER -> COLUMN -> HEADING -> TEXT -> BUTTON, IMAGE ETC.]*/

/*The following sets all elements in the DOM to have no padding, no margin and the box-sizing.
This includes the ::before and ::after pseudo-elements*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*CSSRoots is used for declaring the website colors as global variables.
Declare them once and then use the variable name as value within the CSS.*/
:root {
    --color-primary: #BC00FF;
    --color-secondary: #1100FF;
    --color-accent: #CF49FF;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.25);
}

/*Here we set the HTML scroll behaviour to smooth scroll and the font size to 62.5% = 10px,
this allows for easier calculations regarding the font size, paddings and margins*/
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/*For the body we need to set the font size back to the default 16px - its the standard ssetting after all.
But we can still calculate all other values based on the 62.5% we set earlier.*/
body {
    font-size: 1.6rem;
    overflow-x: hidden;
    /*disables horizontal scrolling*/
    display: flex;
    flex-direction: column;
}

/*Global styles for elements that are the same over the complete website.
Elements are: Sections, Containers, Columns, Rows, Headings and Text*/

/*SECTION STYLES*/

/*Creates a section which fills the complete viewport in x and y*/
.section-full {
    width: 100vw;
    min-height: 100vh;
}

/*Creates a section which fills the complete width in x and half width y*/
.section-half {
    width: 100vw;
    min-height: 50vh;
}

/*SECTION BACKGROUNDS - Some of them are also used on links (styled as buttons) and buttons
but primrily they belong to sections.*/

.background {
    background: var(--color-secondary);
    background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
}

.background-reverse {
    background: var(--color-primary);
    background: linear-gradient(43deg, var(--color-primary) 0%, var(--color-secondary) 95%);
}

.background-mask {
    background: var(--color-light);
    background:
        linear-gradient(30deg, var(--color-light) 65%, rgba(17, 0, 255, 0) 65%),
        linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
}

/*CONTAINER STYLES*/

/*Creates a container element which is 1200px wide (1920px * 0.625 = 1200px)*/
.container {
    width: 62.5%;
}

/*COLUMN STYLES*/

/*This generates a column half the width of its parent (usually the container)*/
.column-2 {
    width: 50%;
}

/*This generates a column quarter the width of its parent*/
.column-4 {
    width: 25%;
}

/*HEADING STYLES*/
h1 {
    font-family: montserrat, sans-serif;
    font-size: 5rem;
    font-weight: 400;
}

h2 {
    font-family: montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
}

h3 {
    font-family: montserrat, sans-serif;
    font-size: 2rem;
}

/*TEXT STYLES*/
p {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

/*some text parts need to be very bold, so we set them here*/
span {
    font-weight: 800;
}

/*the default text color is black, but we also need some white text on the page*/
.text-white {
    color: var(--color-light);
}

.text-shadow {
    text-shadow: 3px 3px 5px var(--color-shadow);
}

.text-center {
    text-align: center;
}

/*BUTTON STYLES AND STYLES FOR LINKS (<a>-tags) WHICH ARE STYLED AS BUTTONS*/
.button-wrapper {
    margin-top: 3rem;
}

.button {
    width: 14.5rem;
    height: 4rem;
    padding: 12px 16px;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

/*UTILITY CLASSES FOR USE PRIMARILY WITH FLEXBOX*/
.flex {
    display: flex;
}

.flex-start {
    justify-content: start;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: end;
}

.flex-center--x {
    justify-content: center;
}

.flex-center--y {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-column--reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

/*BOX SHADOWS AND CORNERS - they can go on any container, image or column elements*/
.box-shadow {
    box-shadow: 3px 3px 5px var(--color-shadow);
}

.rounded {
    border-radius: 0.5rem;
}

/*GENERAL UTILITIES*/
/*This flips a given image in the x axis (like in mirror)*/
.flip-x {
    transform: scaleX(-1);
}

.margin-top--l {
    margin-top: 3em;
}

.margin-bottom--l {
    margin-bottom: 3em;
}

.margin-top--s {
    margin-top: 0.5em;
}

.margin-bottom--s {
    margin-bottom: 0.5em;
}

.section-padding--top {
    padding-top: 9em;
}

.section-padding--bottom {
    padding-bottom: 9em;
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.hide {
    display: none;
}

/*The bottom divider for the contact section doesnt go all the way down, so we need to set a
negative margin*/
.divider-bottom {
    margin-bottom: -2px;
}


/* UTILITY CLASSES FOR USE WITH GRID
actually only this one together with the styles for the grid cards and their container/wrapper*/
.grid {
    display: grid;
}

/*LOCAL STYLES FOR ELEMENTS WHICH NEED CUSTOM STYLING*/

/*Styles for the header*/
.headerbar {
    background-color: var(--color-light);
    width: 100vw;
    height: 6vh;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 5px 10px var(--color-shadow);
}

.headerbar__logo {
    width: 20rem;
    margin-top: 4px;
}

ul {
    list-style-type: none;
}

ul>a {
    font-family: poppins, sans-serif;
    color: var(--color-dark);
    text-decoration: none;
    display: inline-block;
    padding-right: 1.5em;
}

ul>a:nth-child(4) {
    padding-right: 0;
}

/*Styles for the about section´s grid cards*/
.grid-container {
    place-items: end;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}

.grid-card {
    text-align: center;
    padding: 2em;
    width: 210px;
    height: 210px;
}

/*This represents the background images for the grid cards. The primary format used here is webp which is lightweight
and therfore very good for imaging on the web. Since not all browsers support it fully (check here: https://caniuse.com/webp)
we need a fallback which is the eact same image but in png format.*/
.grid-card__background--basics {
    background-image:
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-basics.webp"),
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-basics.png");
}

.grid-card__background--models {
    background-image:
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-models.webp"),
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-models.png");
}

.grid-card__background--help {
    background-image:
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-help.webp"),
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-help.png");
}

.grid-card__background--materials {
    background-image:
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-materials.webp"),
        url("https://rebellionwebdesign.github.io/fab-forever/assets/img/fab-forever-cards-materials.png");
}

/*Styles for the testimonial section*/
.testimonial-card {
    padding: 2rem;
    width: 90%;
}

.testimonial-card img {
    border: 1rem solid #9B00FF;
    border-radius: 50%;
}

.testimonial-card p {
    padding-left: 3em;
}

.testimonial-text {
    font-size: 1.8rem;
}

.contact .column-2 p {
    margin-top: 2rem;
}

/*Styles for the form we ave at the bottom of the page*/
label {
    vertical-align: top;
    padding-left: 2rem;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
    color: rgb(187, 187, 187);
}

.red-star {
    color: red;
}

.column-2__text {
    margin-top: 1.5rem;
}

.form-wrapper {
    width: 76.2%;
    height: auto;
    padding: 2em;
    background-color: white;
    border-radius: 1rem;
}

.form-wrapper h3 {
    margin-bottom: 3rem;
    width: 100%;
}

input[type=text],
input[type=email] {
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    padding-left: 2em;
    border-radius: 2rem;
    border: 1px solid rgb(150, 150, 150);
}

.legal-text {
    margin-bottom: 1rem;
}

.newsletter {
    padding-left: 0;
    color: black;
}

/*Styles for the footer*/
footer {
    width: 100vw;
    height: 8vh;
    background-color: var(--color-light);
}

.footer-logo {
    width: 20rem;
}

.social {
    margin-left: auto;
}

.social-icon {
    width: 2.5rem;
    height: 100%;
    margin-left: 2rem;
}

/*Styles for the response*/
.response {
    width: 60%;
    height: 50%;
    background-color: var(--color-light);
    padding: 40px;
}

/*FONT STYLE DECLARATIONS*/

/*POPPINS FONT STYLES*/
/* poppins-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/poppins-v20-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*MONTSERRAT FONT STYLES*/
/* montserrat-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('https://rebellionwebdesign.github.io/fab-forever/assets/fonts/montserrat-v25-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*MEDIA QUERIES
Since we work from the desktop down (desktop-first design) we need to order the queries correctly*/

/*MEDIA QUERIES FOR XXL SCREENS*/
@media screen and (min-width: 1400px) {
    .mobile--open {
        display: none;
    }

    .mobile--close {
        display: none;
    }
}

/*MEDIA QUERIES FOR XL SCREENS*/
@media screen and (min-width: 1200px) {
    .mobile--open {
        display: none;
    }

    .mobile--close {
        display: none;
    }

        /*RESPONSE SECTION STYLES FOR XS*/

        .response {
            width: 80%;
            padding: 30px;
        }
    
        h1 {
            font-size: 5rem;
        }
    
        p {
            font-size: 1.6rem;
        }
}

/*MEDIA QUERY FOR IN BETWEEN SIZE (993px to 1199px)*/
@media (min-width: 993px) and (max-width: 1199px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    /*RESPONSIVE HEADER STYLES FOR IN BETWEEN SCREENS*/
    .headerbar__logo--mobile {
        width: 15rem;
    }

    .container--mobile {
        width: 95%;
    }

    .column-2__open--mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile--open {
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile--close {
        width: 2.5rem;
        height: 2.5rem;
    }

    .column-2__nav--mobile {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background: var(--color-secondary);
        background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
        position: absolute;
        right: 0;
        top: 0;
    }

    nav {
        width: 100%;
    }

    ul>a {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0.5em 0;
        color: var(--color-light);
        display: flex;
    }

    ul>a:active {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 5px;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0vw;
    }

    /*HERO SECTION STYLES FOR IN BETWEEN SCREENS*/
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile>img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }



    /*ABOUT SECTION STYLES FOR IN BETWEEN SCREENS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }


    /*TESTIMONIAL SECTION STYLES FOR IN BETWEEN SCREENS*/

    .testimonial-text {
        font-size: 1.3rem;
    }

    .testimonial-card {
        width: 80%;
        margin-top: 3em;
    }

    .testimonial-card img {
        width: 25%;
    }

    .testimonial-card p {
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR IN BETWEEN SCREENS*/
    .form-wrapper {
        width: 50%;
    }

    .column-2-mobile {
        width: 100%;
        padding: 0em 2em;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    .flex-center--mobile {
        justify-content: center;
    }

    /*FOOTER SECTION STYLES FOR IN BETWEEN SCREENS*/

    .container-2-mobile {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .social {
        margin: 0 auto;
    }

        /*RESPONSE SECTION STYLES FOR XS*/

        .response {
            width: 70%;
            padding: 50px;
        }
    
        h1 {
            font-size: 5rem;
        }
    
        p {
            font-size: 1.6rem;
        }
}

/*MEDIA QUERIES FOR L SCREENS*/
@media screen and (max-width: 992px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    /*RESPONSIVE HEADER STYLES FOR L*/
    .headerbar__logo--mobile {
        width: 15rem;
    }

    .container--mobile {
        width: 95%;
    }

    .column-2__open--mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile--open {
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile--close {
        width: 2.5rem;
        height: 2.5rem;
    }

    .column-2__nav--mobile {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background: var(--color-secondary);
        background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
        position: absolute;
        right: 0;
        top: 0;
    }

    nav {
        width: 100%;
    }

    ul>a {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0.5em 0;
        color: var(--color-light);
        display: flex;
    }

    ul>a:active {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 5px;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0vw;
    }

    /*HERO SECTION STYLES FOR L*/
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile>img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }



    /*ABOUT SECTION STYLES FOR L*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }


    /*TESTIMONIAL SECTION STYLES FOR L*/

    .testimonial-text {
        font-size: 1.3rem;
    }

    .testimonial-card {
        width: 80%;
        margin-top: 3em;
    }

    .testimonial-card img {
        width: 25%;
    }

    .testimonial-card p {
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR L*/
    .form-wrapper {
        width: 50%;
    }

    .column-2-mobile {
        width: 100%;
        padding: 0em 2em;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    .flex-center--mobile {
        justify-content: center;
    }

    /*FOOTER SECTION STYLES FOR L*/

    .container-2-mobile {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .social {
        margin: 0 auto;
    }
}

/*MEDIA QUERIES FOR M SCREENS*/
@media only screen and (-width: 768px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    /*RESPONSIVE HEADER STYLES FOR M*/
    .headerbar__logo--mobile {
        width: 15rem;
    }

    .container--mobile {
        width: 95%;
    }

    .column-2__open--mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile--open {
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile--close {
        width: 2.5rem;
        height: 2.5rem;
    }

    .column-2__nav--mobile {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background: var(--color-secondary);
        background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
        position: absolute;
        right: 0;
        top: 0;
    }

    nav {
        width: 100%;
    }

    ul>a {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0.5em 0;
        color: var(--color-light);
        display: flex;
    }

    ul>a:active {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 5px;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0vw;
    }

    /*HERO SECTION STYLES FOR M*/
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
    }

    .column-2-mobile>img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }



    /*ABOUT SECTION STYLES FOR M*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }


    /*TESTIMONIAL SECTION STYLES FOR M*/

    .testimonial-text {
        font-size: 1.3rem;
    }

    .testimonial-card {
        margin-top: 3em;
    }

    .testimonial-card img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR M*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR M*/

    .container-mobile--100 {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .social {
        margin: 0 auto;
    }

        /*RESPONSE SECTION STYLES FOR M*/

        .response {
            width: 98%;
            padding: 10px;
        }
    
        h1 {
            font-size: 2rem;
        }
    
        p {
            font-size: 1.1rem;
        }
}

/*MEDIA QUERIES FOR S SCREENS*/
@media only screen and (max-width: 576px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    /*RESPONSIVE HEADER STYLES FOR S*/
    .headerbar__logo--mobile {
        width: 15rem;
    }

    .container--mobile {
        width: 95%;
    }

    .column-2__open--mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile--open {
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile--close {
        width: 2.5rem;
        height: 2.5rem;
    }

    .column-2__nav--mobile {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background: var(--color-secondary);
        background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
        position: absolute;
        right: 0;
        top: 0;
    }

    nav {
        width: 100%;
    }

    ul>a {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0.5em 0;
        color: var(--color-light);
        display: flex;
    }

    ul>a:active {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 5px;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0vw;
    }

    /*HERO SECTION STYLES FOR S*/
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .column-2-mobile>img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }



    /*ABOUT SECTION STYLES FOR S*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }


    /*TESTIMONIAL SECTION STYLES FOR S*/

    .testimonial-text {
        font-size: 1.3rem;
    }

    .testimonial-card {
        margin-top: 3em;
        width: 80%;
    }

    .testimonial-card img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR S*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    .flex-column--mobile {
        flex-direction: column;
    }

    /*FOOTER SECTION STYLES FOR S*/

    .container-mobile {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .social {
        margin: 0 auto;
    }

        /*RESPONSE SECTION STYLES FOR S*/

        .response {
            width: 98%;
            padding: 10px;
        }
    
        h1 {
            font-size: 2rem;
        }
    
        p {
            font-size: 1.1rem;
        }
}

/*MEDIA QUERIES FOR XS SCREENS*/
@media only screen and (max-width: 375px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
    }

    /*RESPONSIVE HEADER STYLES FOR XS*/
    .headerbar__logo--mobile {
        width: 15rem;
    }

    .container--mobile {
        width: 95%;
        height: 100%;
    }

    .column-2__open--mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile--open {
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile--close {
        width: 100%;
        height: 2.5rem;
    }

    .column-2__nav--mobile {
        padding: 0.5em;
        display: flex;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background: var(--color-secondary);
        background: linear-gradient(43deg, var(--color-secondary) 0%, var(--color-primary) 95%);
        position: absolute;
        right: 0;
        top: 0;
        transition: 1s ease-in-out;
    }

    nav {
        width: 100%;
    }

    ul>a {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0.5em 0;
        color: var(--color-light);
        display: flex;
    }

    ul>a:active {
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 5px;
    }

    li {
        width: 100%;
        text-align: center;
    }

    .closed {
        right: -45vw;
    }

    .open {
        right: 0vw;
    }

    .flex-column--mobile {
        flex-direction: column;
    }

    /*HERO SECTION STYLES FOR XS*/
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container-mobile {
        width: 87.5%;
        height: auto;
    }

    .column-2-mobile {
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .column-2-mobile>img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .flex-column-mobile {
        flex-direction: column-reverse;
        width: 100%;
    }

    .align-center-mobile {
        justify-content: center;
    }

    .flex-order {
        order: 1;
    }

    .flex-row-mobile {
        flex-direction: row;
    }

    .align-start-mobile {
        align-items: start;
    }



    /*ABOUT SECTION STYLES FOR XS*/
    .grid-container-mobile {
        place-items: center;
        width: 100%;
        padding: 3em 0em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }


    /*TESTIMONIAL SECTION STYLES FOR XS*/

    .testimonial-text {
        font-size: 1.3rem;
    }

    .testimonial-card {
        margin-top: 3em;
        width: 80%;
    }

    .testimonial-card img {
        width: 50%;
    }

    .testimonial-card p {
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    /*CONTACT SECTION STYLES FOR XS*/
    .form-wrapper {
        width: 100%;
    }

    .column-2__text {
        margin-bottom: 3em;
    }

    label {
        padding: 0;
    }

    /*FOOTER SECTION STYLES FOR XS*/

    .hide-mobile {
        display: none;
    }

    .social {
        margin: 0 auto;
    }

    /*RESPONSE SECTION STYLES FOR XS*/

    .response {
        width: 98%;
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }
}